html {
    height: 100%;
}

body {
    height: calc(100% - var(--header-height));
}

.content {
    height: 100%;
    width: 85%;
}

.container {
    margin-top: var(--header-height);
    max-width: 85%;
}

.admin_header {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    background-color: var(--first-color);
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
    z-index: var(--z-fixed);
}

.admin_header_container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin-inline: 1.5rem;
}