.container_pelanggan {
    padding: 2rem;
    height: 100%;
    display: grid;
    grid-template-columns: 47.5% 25%;
    gap: 3rem;
}

.table_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.table_container sl-input {
    width: 75%;
}

.filter, .filter_item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter {
    gap: 5px;
}

.filter_item > span {
    margin-right: 0.5rem;
}

#table_pelanggan {
    border-radius: 10px;
    float: left;
}

.toolbar {
    float: left;
}

.form_pelanggan > sl-input, sl-select {
    margin: 8px 0;
}

.files_list {
    list-style: inside;
}

.form_container {
    display: flex;
    justify-content: center;
}

.edit_form {
    width: 75%;
}