#table_pelanggan {
    width: 50%;
    border-radius: 10px;
    float: left;
    margin-right: 2vw;
}

.toolbar {
    float: left;
}

.form_pelanggan > sl-input, sl-select {
    margin: 8px 0;
}

.files_list {
    list-style: inside;
}

.form_container {
    display: flex;
    justify-content: center;
}

.edit_form {
    width: 75%;
}