.container {
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 5%;
}

.main_content {
    padding: 2rem;
}

.filter_sidebar {
    float: left;
}

.filter, .filter_item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#time_range {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#time_range_filter {
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}

.filter {
    gap: 1rem;
}

.filter_item > sl-input {
    width: 150px;
    min-width: 0;
    flex: 1;
}

.filter_item > span {
    margin-right: 0.5rem;
}

.table_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.user_info_container {
    display: grid;
    grid-template-columns: 150px 50%;
    gap: 2rem;
    margin-bottom: 1rem;
}

.user_info_container > sl-avatar {
    --size: 150px;
}

.user_info > h1 {
    margin-bottom: 0.5rem;
}

#table_senarai_pesanan {
    border-radius: 10px;
}