body {
    margin: 0;
}

.nav {
    overflow: hidden;
    padding: 10px 165px;
    background-color: #e28413ff;
}

.nav_logo {
    width: auto;
    height: 42.5px;
}

.nav_menu {
    float: right;
}

.nav_link {
    font-size: 32px;
}

#user_button {
    width: 32.8125px;
    height: auto;
    margin-top: 2.421875px;
}

@media screen and (max-width: 520px) {
    .nav{
        padding: 10px;
    }
  }