.action_bar {
  top: 4rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
}

.search_container {
  width: 70%;
}

.food_item_container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1vw;
}

.food_item {
  display: flex;
  height: 108px;
  padding: 3px;
  align-items: center;
  cursor: pointer;
  background-color: peachpuff;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: grey;
}

.food_item > img {
  width: clamp(5rem, 10%, 10rem);
  margin: 0.5rem;
  pointer-events: none;
}

.food_info {
  margin-left: 2rem;
  pointer-events: none;
}

.food_row {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.food_row > h3 {
  margin-block: 0 1em;
}

.food_row > p {
  margin-block: 0.5em 0;
}

.kategori_title {
  scroll-margin-top: calc(var(--header-height) + 65px);
}

.dialog_input {
  width: 5rem;
}

.cart_item_input {
  width: 3.5rem;
}

.cart_item {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 1rem;
}

.hide {
  display: none;
}

.total_price {
  margin-right: auto;
}

.dialog::part(footer) {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.dialog_image {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

@media screen and (min-width: 1150px) {
  .search_container {
    width: 90%;
  }

  .food_item_container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1vw;
    max-width: 60%;
  }  
}
